# Entorno virtual de Python
venv
.env/
.env.local
.env
# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.pytest_cache/

# Logs
*.log
*.logs
# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp

# Tu entorno virtual específico
/Bot-ActualizarExcel-env/