# Carpetas de compilación y distribución
dist/
build/
Output/


# Entorno virtual
venv/
.env
access_keys.md

# PyInstaller y Build
dist/
build/
clean_project.py

# Python Cache
**/__pycache__/
*.py[cod]
*$py.class

# Logs y capturas
logs/
*.log

# Configuraciones Locales
# (Evitar subir tus rutas privadas de Excel)
config/excels.json
config/schedule.json

# IDEs
.vscode/
.idea/

# Sistema
Thumbs.db
.DS_Store